@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-stone-800 bg-neutral-50;
}

hr {
  @apply my-8 border-neutral-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-4;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

select,
.btn {
  @apply p-2 inline-flex items-center justify-center rounded border border-transparent shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 sm:text-sm w-full md:w-48;
  cursor: pointer;
  min-height: 40px;
}

.btn {
  @apply text-lg;
}

.btn-primary {
  @apply text-white bg-blue-500 hover:bg-blue-600 focus:ring-blue-600;
}

.btn-secondary {
  @apply text-white bg-orange-600 hover:bg-orange-700 focus:ring-orange-500;
}

.btn-disabled {
  @apply text-neutral-600 bg-neutral-300 cursor-default focus:ring-0;
}

.btn-warning {
  @apply text-white bg-rose-600 hover:bg-rose-700 focus:ring-rose-500;
}

.btn-white {
  @apply text-neutral-500 bg-white hover:border-blue-500 focus:ring-blue-500;
}

select {
  @apply p-2 bg-white border border-neutral-300 border-solid rounded focus:text-neutral-600 focus:bg-white focus:border-purple-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
}

.form-group {
  @apply flex flex-wrap md:flex-nowrap items-center gap-2 md:gap-6 py-2 md:py-1;
}

.form-group > *:not(:first-child) {
  @apply ml-2 md:ml-0;
}

.form-group label {
  @apply font-bold md:font-normal;
  min-width: 6rem;
}

.form-group p {
  @apply grow;
}

.form-group input, .form-group select {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
  @apply max-w-md;
}

main a {
  @apply text-blue-700 hover:text-blue-800;
}

input.invalid {
  @apply border-red-500;
}
